@font-face {
    font-family: 'aclonica';
    src: url('fonts/Aclonica.ttf');
}

.tituloBrandNav {
  font-family: 'aclonica';
  color:#23ad0d;
  font-size:18px;
  text-shadow: 2px 2px black;
}

body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
  	color:#0d1e54;
    background-image: url(/img/bg.jpg);
	background-attachment:fixed;
}

h1 {
    font-size: 24px;
    font-weight: normal;
	text-align:center;
}


h2 {
    font-size: 20px;
    font-weight: normal;
	text-align:center;

}

h3 {
    font-size: 18px;
    font-weight: normal;
	text-align:center;
}

fieldset {
    color: #333399;
}


a {
    font-size: 12px;
   	color:#0d1e54;
    text-align: center;
    text-decoration:underline;;
    font-weight: bold;
}

a:hover {
    text-decoration:underline;;
   	color: #333399;
}

a.menuitemlink{
	color:#0d1e54;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}

a.menuitemlink:hover{
	color:#000000;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}

a.menuitemlinksel{
	color:#000000;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}

a.menuitemlinksel:hover{
	color:#e1e8f0;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}

a.homebuttonlink{
	font-size:16px;
	color:#0d1e54;
	text-decoration:none;
	font-weight:normal;
}

a.homebuttonlink:hover{
	font-size:16px;
	color:#0d1e54;
	text-decoration:none;
	font-weight:normal;
}

a.bottommenu{
	font-size:10px;
}

/*DIVS*/
div.mainwrap {
    width: 900px;
    padding: 5px 5px 0px 5px;
    text-align: left;
    background-color: #FFFFFF;
    background-image: url(/img/topbg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 92px;
}

div.mainwrapterms {
    width: 900px;
    padding: 5px 5px 0px 5px;
    text-align: left;
    background-color: #FFFFFF;
    background-image: url(/img/topbg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 160px;
}

div.welcome{
	float:right;
	font-size: 18px;
    font-weight: bold;
    text-align: left;
	padding: 5px;
	width:400px;
	margin-top:10px;
}

div.contentwrap {
    width: 900px;
    padding: 10px 5px 15px 5px;
    background-color: #FFFFFF;
}

div.content {
    width: 870px;
    padding: 5px;
    background-image: url(/img/contentbg.jpg);
    background-repeat: repeat-y;
    background-color: #D8D9DB;
}

div.contenttxt{
	text-align:justify;
	margin:0px 80px 0px 100px;
}

div.topmenu {
    width: 910px;
    height: 31px;
    background: #FFFFFF;
    text-align: left;
}

div.bottom {
    width: 900px;
    padding: 5px;
    background-color: #8293A7;
	text-align:center;
}
div.copy{
    width: 900px;
	margin:10px 0px 10px 0px;
	font-size:10px;
}
div.line {
    background-color: #0D3556;
    height: 4px;
    width: 910px;
}


div.menuitem{
	float:left;
	text-align:center;
	color:#e1e8f0;
	width:130px;
	height:27px;
	background-image: url(/img/taboff.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding:4px;
}

div.menuitem:hover{
	float:left;
	text-align:center;
	color:#000000;
	width:130px;
	height:27px;
	background-image: url(/img/tabon.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding:4px;
}

div.menuitemsel{
	float:left;
	text-align:center;
	color:#000000;
	width:130px;
	height:27px;
	background-image: url(/img/tabon.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding:4px;
}

div.menuitemsel:hover{
	float:left;
	text-align:center;
	color:#e1e8f0;
	width:130px;
	height:27px;
	background-image: url(/img/taboff.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding:4px;
}

div.loginround{
	text-align:center;
	vertical-align:middle;
	background-color:#B1C5E3;
	float:right;
	background-image: url(/img/loginbg.jpg);
	background-repeat:repeat-x;
	background-position:center;
	width:350px;
	height:45px;
}

div.loginleft{
	width:240px;
	height:40px;
	float:left;
	padding-top:6px;
	padding-left:5px;
}

div.loginright{
	width:100px;
	height:40px;
	float:right;
	padding-top:5px;
	padding-right:5px;
}

div.langchange{
	text-align:right;
	float:right;
	width:350px;
}
table.main {
    border: 1px dotted #C5D7E9;
    border-collapse: collapse;
    width: 720px;
	color:#000000;
}
td{
	text-align:left;
}
table.main td {
    height: 25px;
    padding: 5px 5px;
}

table.detail {
    border: 1px none #999999;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    border-spacing: 1px;
}


td.homebutton{
	vertical-align:middle;
	text-align:center;
	width:160px;
	height:126px;
	background: url(/img/hpbutton.gif) center no-repeat;
}


td.title, td.total {
    border: 1px solid #999999;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

td.detail {
    border: 1px solid #999999;
    padding: 5px;
    font-size: 11px;
    text-align: right;
}

td.detailc {
    border: 1px solid #999999;
    padding: 5px;
    font-size: 11px;
    text-align: center;
}

td.total {
    border: 1px none #000000;
    padding: 5px;
    text-align: right;
}

td.title {
    color: #000000;
}

span.black {
    color: #000000;
}

hr {
    width: 90%;
    color: #333399;
}

/*Forms*/
form {
   /* margin: 20px; */
}

fieldset {
    border-color: #B1C5E3;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

fieldset legend {
    color: #255FC4;
    font-size: 18px;
    font-weight: bold;
}

fieldset fieldset {
}

fieldset fieldset legend {
}

fieldset fieldset div {
}

label {
    font-size: 10pt;
    font-weight: bold;
    margin: 10px;
}

input.topinput {
    border-color: #B1C5E3;
	background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    font-size: 8pt;
	width:110px;
	text-align:center;
}

input, textarea {
    border-color: #B1C5E3;
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
}

input.error, textarea.error {
    border-color: #EA5200;
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
}

select.error {
    border-color: #EA5200;
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
}

select {
    border-color: #B1C5E3;
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
}

select[multiple = multiple] {
    border-color: #B1C5E3;
    border-width: 1px;
    border-style: solid;
    font-size: 10pt;
}

option {
    font-size: 10pt;
}

input[type = checkbox] {
	border:none;
}

input[type = image] {
	border:none;
}

input[type = submit] {
    background-color: #EDEFE4;
   	color:#0d1e54;
    font-weight: bold;
    border-color: #B4B8BB;
    border-width: 1px;
    border-style: solid;
}

input[type = button] {
    background-color: #EDEFE4;
   	color:#0d1e54;
    font-weight: bold;
    border-color: #B4B8BB;
    border-width: 1px;
    border-style: solid;
}

/*Notices and Errors*/
div.message {
    clear: both;
    color: #DF0101;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

div.jsmessage {
    color: #DF0101;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
	background-color:#ffffff;
	width:900px;
	text-align:center;
	margin:10px 0px 10px 0px;
}

div.error-message {
    clear: both;
    color: #EA5200;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.notice {
    background-color: #FFCC00;
    display: block;
    font-family: Courier, monospace;
}

.comments {
    overflow: auto;
    height: 100px;
    width: 700px;
    display: none;
}

.hidecomments {
    display: none;
    width: 700px;
}

.showcomments {
    width: 700px;
}

.commentheader {
    font-size: 8pt;
    text-align: justify;
    width: 600px;
    margin-left: 45px;
}

.commenttext {
    margin-left: 15px;
}

.commentslink {
    font-weight: bold;
    margin-left: 25px;
}

.unitprice {
    text-align: right;
}

.amount {
    text-align: right;
}

.qty {
    text-align: center;
}

.total {
    font-weight: bold;
    text-align: right;
}

#ClientForm {
    position: absolute;
    background:#ffffff;
	border-bottom:  #B1C5E3 1px solid;
	border-left: #B1C5E3 1px solid;
	border-right:#B4B8BB 1px solid;
	width: 500px;
}

#TheForm label.error {
    background-image: url(/img/unchecked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
    font-size: 8pt;
    color: #EA5200;
    text-align: left;
}

#TheForm label.checked {
    display: inline;
    background-image: url(/img/checked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
}

#TheClientForm label.error {
    display: inline;
    background-image: url(/img/unchecked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
    font-size: 8pt;
    color: #EA5200;
    text-align: left;
}

#TheClientForm label.checked {
    display: inline;
    background-image: url(/img/checked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
}

#TheBusForm label.error {
    display: inline;
    background-image: url(/img/unchecked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
    font-size: 8pt;
    color: #EA5200;
    text-align: left;
}

#TheBusForm label.checked {
    display: inline;
    background-image: url(/img/checked.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 16px;
}

 .card {
	margin: -40px 0 0 375px;
	width: 145px;
	position: absolute;
	z-index: 0;
}

.card img {
	opacity: 0.2;
	margin: -4px 2px 0 2px;
	padding: 5px 0px;
}
 .cardshow {
	opacity: 1 !important;
}
